:host {
  margin-bottom: 1em;
}

header {
  display: flex;
  background-color: #ffffff40;
  position: fixed;
  top: 0;
  border-bottom: 1px solid lightgrey;
  left: 0;
  right: 0;
  backdrop-filter: blur(10px);
  justify-content: center;

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    .links {
      width: 10em;
      display: flex;
      justify-content: space-between;
    }

    a {
      text-decoration: none;
      color: rgb(93, 93, 93);
    }

    a:hover {
      color: #111827;
      text-decoration: underline;
    }
  }
}
