.face-snap-card {
  width: 35%;
  img {
    width: 100%;
    border-radius: 1%;
  }
  background-color: rgb(238, 246, 255);
  border-radius: 5%;
  padding: 1em;
  padding-top: 0.1em;
  color: rgb(45, 45, 158);
  box-shadow: 1px 1px 5px rgb(128, 187, 255);
}
