:host {
  padding: 1em;
}

.face-snap-card {
  overflow-y: scroll;
  scrollbar-width: thin;
  width: auto;
  max-width: 40em;
  height: 25em;
  background-color: rgb(238, 246, 255);
  border-radius: 5%;
  padding: 1em;
  color: rgb(45, 45, 158);
  box-shadow: 1px 1px 5px rgb(186, 218, 255);

  img {
    width: 100%;
    border-radius: 1%;
  }

  button {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid lightgray;
    border-radius: 6px;
    color: rgb(45, 45, 158);
    cursor: pointer;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
  }

  button:hover {
    background-color: #f1f0f0;
  }

  .location {
    color: #0f4ac19f;
  }
}
