<div class="face-snap-card" [ngClass]="{snapped: clickState}">
  <h2>{{ faceSnap.title }}</h2>
  <p>Mis en ligne le {{ faceSnap.createdDate }}</p>
  <p>{{ faceSnap.description }}</p>
  <p>
    <button (click)="onAddSnap()">{{ text }}</button>
    <span [ngStyle]="{color: 'rgb(0, ' + faceSnap.snaps + ', 0)'}"> {{ faceSnap.snaps }} </span>
  </p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
  @if (faceSnap.location) {
    <p class="location">📍{{ faceSnap.location }} </p>
  } @else {
    <p class="location"> ❓Localisation inconnu </p>
  }
</div>

